{% extends "Practica1Bundle:Default:plantilla.html.twig" %}

{% block contenido %}

<form action="enviarmail" method="post"><fieldset><legend>Datos de contacto</legend>   
        <table>
            <tr>
                <td><label for="nombre">Nombre y apellidos : </label></td>
                <td><input type="text" name="nombre" size="30" maxlength="80"></td>
            </tr>
            <tr>
                <td><label for="email">Email : </label></td>
                <td><input type="text" name="email" size="30" maxlength="60"></td>
            </tr>
            <tr>
                <td><label for="asunto">Teléfono : </label></td>
                <td><input type="text" name="tlf" size="30" maxlength="60"></td>
            </tr>
            <tr>
                <td><label for="tlf">Asunto : </label></td>
                <td><input type="text" name="asunto" size="30" maxlength="60"></td>
            </tr>
            <tr>
                <td><label for="mensaje">Mensaje : </label></td>
                <td><textarea name="mensaje" cols="41" rows="5"></textarea></td>
            </tr>
        </table>

</fieldset>
<label for="enviar">
<input type="submit" name="enviar" value="Enviar datos"></label>
 </form>
{% endblock %}